region = "us-east-1"
project_name = "nodejs-mongodb-app"
environment = "production"

# S3 Backend Configuration
s3_bucket_name = "my-terraform-state-bucket-12345"
dynamodb_table_name = "terraform-state-lock-aleem"

# MongoDB Configuration
mongodb_username = "mongodbuser"
mongodb_password = "mongodb@123"
mongodb_host = "terraform-ecd--nodejs-m.d4odikf.mongodb.net"
mongodb_database = "Terraform-ecd--nodejs-mangodb"

# ECS Configuration
task_cpu = 256
task_memory = 512
desired_count = 2
min_size = 1
max_size = 3
instance_type = "t3.small"
key_name = "Virginia"
